<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration form</title>
<style>
h1 {
	color: blue;
}
h2{	
	color: green;
}
table{
	border-collapse: collapse;
}
</style>

</head>
<body>
<h1>Contact Information</h1>
<div class="container">

<h2 th:text="|General ${companyName} Company Information|"></h2>
<ul>
  <li>
  	<strong>Name: </strong>
  	<span th:text="${c.companyName}"></span>
  </li>
  <li>
  	<strong>Founder: </strong>
  	<span th:text="${c.founderName}"></span>
  </li>
  <li>
  	<strong>Industry: </strong>
  	<span th:text="${c.industry}"></span>
  </li>
  <li>
  	<strong>Primary Service: </strong>
  	<span th:text="${c.primaryService}"></span>
  </li>
  <li>
  	<strong>Secondary Service: </strong>
  	<span th:text="${c.secondaryService}"></span>
  </li>
  <li>
  	<strong>Address: </strong>
  	<span th:text="${c.address}"></span>
  </li>
  <li>
  	<strong>Email: </strong>
  	<span th:text="${c.companyEmail}"></span>
  </li>
  <li>
  	<strong>Phone Number: </strong>
  	<span th:text="${c.companyPhoneNumber}"></span>
  </li>
</ul>

<h2 th:text="|${contactName} Contact information|"></h2>
<ul>
  <li>
  	<strong>Name: </strong>
  	<span th:text="${c.contactName}"></span>
  </li>
  <li>
  	<strong>Title: </strong>
  	<span th:text="${c.contactTitle}"></span>
  </li>
  <li>
  	<strong>Email: </strong>
  	<span th:text="${c.contactEmail}"></span>
  </li>
  <li>
  	<strong>Phone Number: </strong>
  	<span th:text="${c.contactPhoneNumber}"></span>
  </li>
</ul>

<h2 th:text="|${companyName} Stats|"></h2>
<ul>
  <li>
  	<strong>Number of Users: </strong>
  	<span th:text="${c.numberOfUsers}"></span>
  </li>
  <li>
  	<strong>Annual Revenue: </strong>
  	<span th:text="${c.revenue}"></span>
  </li>
</ul>

<h2 th:text="|${companyName} Needs And Expectations|"></h2>
<ul>
  <li>
  	<strong>Token type: </strong>
  	<span th:text="${c.tokenType}"></span>
  </li>
  <li>
  	<strong>Need dev support? </strong>
  	<span th:text="${c.devSupport}"></span>
  </li>
  <li>
  	<strong>New Token? </strong>
  	<span th:text="${c.newToken}"></span>
  </li> 
  <li>
  	<strong>Smart Contract? </strong>
  	<span th:text="${c.smartContract}"></span>
  </li>
</ul>

<p>
	<strong>Use of service: </strong>
  	<span th:text="${c.useOfService}"></span>
</p>

<p>
	<strong>Dev Support details: </strong>
  	<span th:text="${c.devSupportDesc}"></span>
</p>

<p>
	<strong>New Token Suggestion: </strong>
  	<span th:text="${c.newTokenDesc}"></span>
</p>

<p>
	<strong>Smart contract details: </strong>
  	<span th:text="${c.smartContractDesc}"></span>
</p>

<h2 th:text="|${companyName} referral|"></h2>
<ul>
  <li>
  	<strong>Survey: </strong>
  	<span th:text="${c.survey}"></span>
  </li>
  <li>
  	<strong>Referral: </strong>
  	<span th:text="${c.referral}"></span>
  </li>
</ul>
</div>
</body>
</html>